<div class="container">
  <div class="row">
    <button (click)="getCompanies()" (click)="getDepartments()" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modalAdd" class="btn btn-raised btn-default"><i class="fa fa-plus" aria-hidden="true"></i></button>
  </div>

  <div class="row">
    <div class="col-md-12">
     
        <table class="table table-striped table-responsive">
          <thead>
            <th>Action</th>
            <th>empCode</th>
            <th>empName</th>
            <th>empLastName</th>
            <th>empAddress</th>
            <th>personalId</th>
            <th>tel</th>
            <th>email</th>
            <th>ldapUserName</th>
            <th>password</th>
            <th>department</th>
            <th>company</th>
          </thead>
          <tbody>
            <tr *ngFor="let appUser of appUsers">
              <td><button (click)="deleteAppUser(appUser)" class="btn btnEdit btn-raised btn-danger"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></button>
                  <button class="btn btnEdit btn-raised btn-info" data-backdrop="static" data-keyboard="false" 
                                data-target="#modalUpdate" data-toggle="modal"
                                (click)="detailModalUpdate(appUser)" (click)="getCompanies()"
                                (click)="getDepartments()"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></button>
              </td>
              <td>{{appUser.empCode}}</td>
              <td>{{appUser.empName}}</td>
              <td>{{appUser.empLastName}}</td>
              <td>{{appUser.empAddress}}</td>
              <td>{{appUser.personalId}}</td>
              <td>{{appUser.tel}}</td>
              <td>{{appUser.email}}</td>
              <td>{{appUser.ldapUserName}}</td>
              <td>{{appUser.password}}</td>
              <td>{{appUser.department.name}}</td>
              <td>{{appUser.company.name}}</td>
            </tr>
          </tbody>
        </table>
      
    </div>
  </div>
</div>

<!--Modal AddAppUser-->
<div class="modal fade" id="modalAdd">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="onClear()" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Add User</h4>
      </div>
      <div class="modal-body">
        <form class="form-horzontal" (ngSubmit)="onSubmit()" #addCom="ngForm">
          <div class="row">    
            <div class="form-group">
                <label class="col-md-offset-2 col-md-2 control-label">EmpCode: </label>
                <div class="col-md-5">
                    <input  required class="form-control" type="text" 
                    [(ngModel)]="appUser.empCode"  [ngModelOptions]="{standalone: true}" />
                </div>
            </div>
          </div>

          <div class="row">    
            <div class="form-group">
                <label class="col-md-offset-2 col-md-2 control-label">EmpName: </label>
                <div class="col-md-5">
                    <input  required class="form-control" type="text" 
                    [(ngModel)]="appUser.empName"  [ngModelOptions]="{standalone: true}" />
                </div>
            </div>
          </div>
          <div class="row">    
            <div class="form-group">
                <label class="col-md-offset-2 col-md-2 control-label">EmpLastName: </label>
                <div class="col-md-5">
                    <input  required class="form-control" type="text" 
                    [(ngModel)]="appUser.empLastName" [ngModelOptions]="{standalone: true}" />
                </div>
            </div>
          </div>
          <div class="row">    
            <div class="form-group">
                <label class="col-md-offset-2 col-md-2 control-label">EmpAddress: </label>
                <div class="col-md-5">
                    <input  required class="form-control" type="text" 
                    [(ngModel)]="appUser.empAddress" [ngModelOptions]="{standalone: true}" />
                </div>
            </div>
          </div>
          <div class="row">    
            <div class="form-group">
                <label class="col-md-offset-2 col-md-2 control-label">PersonalId: </label>
                <div class="col-md-5">
                    <input  required class="form-control" type="text" 
                    [(ngModel)]="appUser.personalId" [ngModelOptions]="{standalone: true}" />
                </div>
            </div>
          </div>
          <div class="row">    
            <div class="form-group">
                <label class="col-md-offset-2 col-md-2 control-label">Tel: </label>
                <div class="col-md-5">
                    <input  required class="form-control" type="text" 
                    [(ngModel)]="appUser.tel" [ngModelOptions]="{standalone: true}" />
                </div>
            </div>
          </div>
          <div class="row">    
            <div class="form-group">
                <label class="col-md-offset-2 col-md-2 control-label">Email: </label>
                <div class="col-md-5">
                    <input  required class="form-control" type="text" 
                    [(ngModel)]="appUser.email" [ngModelOptions]="{standalone: true}" />
                </div>
            </div>
          </div>
          <div class="row">    
            <div class="form-group">
                <label class="col-md-offset-2 col-md-2 control-label">LdapUserName: </label>
                <div class="col-md-5">
                    <input  required class="form-control" type="text" 
                    [(ngModel)]="appUser.ldapUserName" [ngModelOptions]="{standalone: true}" />
                </div>
            </div>
          </div>
          <div class="row">    
            <div class="form-group">
                <label class="col-md-offset-2 col-md-2 control-label">Password: </label>
                <div class="col-md-5">
                    <input  required class="form-control" type="text" 
                    [(ngModel)]="appUser.password" [ngModelOptions]="{standalone: true}" />
                </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="selectCompany" class="col-md-offset-2 col-md-2 control-label">Department: </label>
               <div class="col-md-5">
                  <select id="selectDepartment" class="form-control" [(ngModel)]="departmentId" required
                  [ngModelOptions]="{standalone: true}" >
                    <option disabled ></option>
                    <option *ngFor="let department of departments" [value]="department.id">
                      {{department.name}}
                    </option>
                  </select>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="selectCompany" class="col-md-offset-2 col-md-2 control-label">Company: </label>
               <div class="col-md-5">
                  <select id="selectCompany" [(ngModel)]="companyId" class="form-control" [ngModelOptions]="{standalone: true}">
                    <option   disabled>Choose one</option>
                    <option  *ngFor="let company of companies" [value]="company.id">
                      {{company.name}}
                    </option>
                  </select>
                </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="onClear()" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="addAppUser()">Save changes</button>
      </div>
      <!--[disabled]="!addCom.form.valid" -->
    </div>
  </div>
</div>





<!--Modal UpdateAppUser-->
<div class="modal fade" id="modalUpdate">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" (click)="onClearUpdate(empCode, empName, empLastName,
                  empAddress, personalId, tel, email, ldap, password, selectDep , selectCom)"  class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Update User</h4>
      </div>
      <div class="modal-body">
        <form class="form-horzontal" (ngSubmit)="onSubmit()" #addCom="ngForm">
          <div class="row">    
            <div class="form-group">
                <label class="col-md-offset-2 col-md-2 control-label">EmpCode: </label>
                <div class="col-md-5">
                    <input #empCode required class="form-control" type="text" 
                    [value]="appUserUpdate.empCode"/>
                </div>
            </div>
          </div>
          <div class="row">    
            <div class="form-group">
                <label class="col-md-offset-2 col-md-2 control-label">EmpName: </label>
                <div class="col-md-5">
                    <input #empName required class="form-control" type="text" 
                    [value]="appUserUpdate.empName"/>
                </div>
            </div>
          </div>
          <div class="row">    
            <div class="form-group">
                <label class="col-md-offset-2 col-md-2 control-label">EmpLastName: </label>
                <div class="col-md-5">
                    <input #empLastName required class="form-control" type="text" 
                    [value]="appUserUpdate.empLastName"/>
                </div>
            </div>
          </div>
          <div class="row">    
            <div class="form-group">
                <label class="col-md-offset-2 col-md-2 control-label">EmpAddress: </label>
                <div class="col-md-5">
                    <input #empAddress required class="form-control" type="text" 
                    [value]="appUserUpdate.empAddress"/>
                </div>
            </div>
          </div>
          <div class="row">    
            <div class="form-group">
                <label class="col-md-offset-2 col-md-2 control-label">PersonalId: </label>
                <div class="col-md-5">
                    <input #personalId required class="form-control" type="text" 
                    [value]="appUserUpdate.personalId"/>
                </div>
            </div>
          </div>
          <div class="row">    
            <div class="form-group">
                <label class="col-md-offset-2 col-md-2 control-label">Tel: </label>
                <div class="col-md-5">
                    <input #tel required class="form-control" type="text" 
                    [value]="appUserUpdate.tel"/>
                </div>
            </div>
          </div>
          <div class="row">    
            <div class="form-group">
                <label class="col-md-offset-2 col-md-2 control-label">Email: </label>
                <div class="col-md-5">
                    <input #email required class="form-control" type="text" 
                    [value]="appUserUpdate.email"/>
                </div>
            </div>
          </div>
          <div class="row">    
            <div class="form-group">
                <label class="col-md-offset-2 col-md-2 control-label">LdapUserName: </label>
                <div class="col-md-5">
                    <input #ldap required class="form-control" type="text" 
                    [value]="appUserUpdate.ldapUserName"/>
                </div>
            </div>
          </div>
          <div class="row">    
            <div class="form-group">
                <label class="col-md-offset-2 col-md-2 control-label">Password: </label>
                <div class="col-md-5">
                    <input #password required class="form-control" type="text" 
                    [value]="appUserUpdate.password"/>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="selectCompany" class="col-md-offset-2 col-md-2 control-label">Department: </label>
               <div class="col-md-5">
                  <select id="selectDepartment"  #selectDep  class="form-control" [(ngModel)]="departmentIdUpdate" (change)="onSelectboxDepChange($event.target.value)"
                  required [ngModelOptions]="{standalone: true}" >
                    <option disabled ></option>
                    <option *ngFor="let department of departments" [value]="department.id">
                      {{department.name}}
                    </option>
                  </select>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="selectCompany" class="col-md-offset-2 col-md-2 control-label">Company: </label>
               <div class="col-md-5">
                  <select id="selectCompany"  #selectCom  class="form-control" [(ngModel)]="companyIdUpdate" (change)="onSelectboxCompanyChange($event.target.value)"
                  required [ngModelOptions]="{standalone: true}" >
                    <option disabled ></option>
                    <option *ngFor="let company of companies" [value]="company.id">
                      {{company.name}}
                    </option>
                  </select>
                </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-default" data-dismiss="modal" (click)="onClearUpdate(empCode, empName, empLastName,
                                                                            empAddress, personalId, tel,
                                                                            email, ldap, password, selectDep , selectCom)" >Close</button>
        <button  type="submit" class="btn btn-primary" data-dismiss="modal" (click)="updateAppUser(empCode, empName, empLastName,
                                                                            empAddress, personalId, tel,
                                                                            email, ldap, password,departmentIdUpdate,companyIdUpdate)">Save changes</button>
      </div>
    </div>
  </div>
</div>
