.form-control{
    box-shadow: none;
}



table,td,th{
    text-align: center;
    /*font-size: 40px;*/
    
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th
.table>tbody>td>th{
    
    vertical-align:middle;
    
}

     
th{
    font-weight: 900;
    color: #ffffff;
    background: #009688;
    padding-top:6px;
    padding-bottom: 6px;
}

tr:nth-of-type(odd){
    
    
  }
 
   





    
  