
<div class="row">
	<div class="col-md-12">
		<div class="panel">
			<div class="panel-heading panel-black" >
				<h2 class="panel-title" style="color: white;">ตารางสรุปผล</h2>
			</div>
			<div class="panel-body">
				<div class="row nopadding-left-right" >
					<div class="col-md-offset-1 col-md-10 nopadding-left-right">
						<table class="table table-hover">
							<thead>
								<th>Action</th>
								<th>วันที่</th>
								<th>ลูกค้า</th>
								<th>เดินทางจาก</th>
								<th>เดินทางถึง</th>
								<th>ค่าเดินทาง</th>
								<th>ค่าทางด่วน</th>
								<th>รวมเป็นเงิน</th>
								<th>หมายเหตุ</th>
								

							</thead>
							<tbody>
								<tr  *ngFor="let travelExpenseDetail of travelExpenseDetails">
									<td><button (click)="deleteTravelExpenseDetail(travelExpenseDetail)" class="btn btnEdit btn-raised btn-danger"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></button>
										<button class="btn btnEdit btn-raised btn-info" data-backdrop="static" data-keyboard="false" 
													data-target="#modalUpdateTravelExpenseDetail" data-toggle="modal"
													(click)="detailModalUpdate(travelExpenseDetail)"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></button>
									</td>
									<td>{{travelExpenseDetail.travelDate | date:'yyyy-MM-dd'}}</td>
									<td>{{travelExpenseDetail.customer.name}}</td>
									<td>{{travelExpenseDetail.travelFrom}}</td>
									<td>{{travelExpenseDetail.travelTo}}</td>
									<td>{{travelExpenseDetail.expense}}</td>
									<td>{{travelExpenseDetail.expWayExpense}}</td>
									<td>{{travelExpenseDetail.expenseSubSummary}}</td>
									<td>{{travelExpenseDetail.comment}}</td>
									
								</tr>
								<tr>
									<td colspan="5" style="text-align: center;" >รวมทั้งสิ้น</td>
									<td>{{expenseResult}}</td>
									<td>{{expenseWayResult}}</td>
									<td>{{expenseSummary}}</td>
									<td>&nbsp;</td>
								</tr>
							</tbody>
						</table>	
					</div>
					
				<!--</div>
				<div class="row nopadding-left-right">-->
					<div class="row">
						<div class="col-md-12">
							<div style="width: 100%; border-bottom: 1px solid rgba(0,0,0,0.1); margin-top: 10px; margin-bottom: 10px;"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-offset-1 col-md-10">
							<div class="form-group" style="text-align: right;">
								<input (click)="addExpenseSummary()" class="btn btn-raised btn-success" type="submit" name="summary" value="บันทึกแบบคำขอใบเบิก"/>
							</div>
						</div>
					</div>
				</div>
			</div> <!--panel body-->
		</div> <!-- panel -->
	</div>
</div>




<!-- add case -->
<div class="modal fade modal-lg" id="modalAddTravelExpenseDetail">
	<div class="modal-dialog modal-lg">
		
		<div class="modal-content modal-lg">
			<div class="modal-header modal-black">
				<button (click)="onClear()" type="button" class="close" data-dismiss="modal" aria-hidden="true" >×</button>
				<h4 class="modal-title">เพิ่มกรณีไปหาลูกค้า</h4>
			</div>
			
			<div class="modal-body modal-lg">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-offset-1 col-md-5 nopadding-left-right">
								<div class="form-group ">
									<div class="col-md-3 nopadding-left-right ">
										<label for="" class="controlLabel">วันที่</label>
									</div>
									<div class="col-md-8 nopadding-left-right">
										<!--<input type="date" class="form-control" #travelDate [(ngModel)]="travelExpenseDetail.travelDate" [ngModelOptions]="{standalone: true}" />-->
										<my-date-picker #travelDate name="datepicker" [(ngModel)]="travelExpenseDetail.travelDate" [ngModelOptions]="{standalone: true}" class="form-control" 
										[options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" ></my-date-picker>

									</div>
										<!--<ng2-datepicker style="width:300px !important;" #travelDate [(ngModel)]="travelExpenseDetail.travelDate" [ngModelOptions]="{standalone: true}"></ng2-datepicker>-->
										<!--<material-datepicker class="form-control" [(date)]="travelExpenseDetail.travelDate"></material-datepicker>-->
								</div>
									
							</div>
						
							<div class="col-md-5   nopadding-left-right">
								<div class="form-group ">
									<div class="col-md-offset-1 col-md-3 nopadding-left-right ">
										<label for="" class="controlLabel">ลูกค้า</label>
									</div>
									<div class="col-md-8 nopadding-left-right">
										<select #customer [(ngModel)]="travelExpenseDetail.customer" [ngModelOptions]="{standalone: true}" class="form-control">
											<option *ngFor="let customer of customers" [value]="customer.id">
												{{customer.name}}
											</option>

										</select>
									</div>
								</div>
							</div>		
						</div>
						<div class="row">
							<div class="col-md-offset-1 col-md-5 nopadding-left-right">
								<div class="form-group ">
									<div class="col-md-3 nopadding-left-right ">
										<label for="" class="controlLabel">เดินทางจาก</label>
									</div>
									<div class="col-md-8 nopadding-left-right">
										<input #travelFrom class="form-control" type="text" 
										[(ngModel)]="travelExpenseDetail.travelFrom" [ngModelOptions]="{standalone: true}">
									</div>
								</div>
							</div>

							<div class="col-md-5 nopadding-left-right">
								<div class="form-group ">
									<div class="col-md-offset-1 col-md-3 nopadding-left-right ">
										<label for="" class="controlLabel">ถึง</label>
									</div>
									<div class="col-md-8 nopadding-left-right">
										<input #travelTo class="form-control" type="text"
										[(ngModel)]="travelExpenseDetail.travelTo" [ngModelOptions]="{standalone: true}">
									</div>
								</div>
							</div>				
						</div>

						<div class="row">
							<div class="col-md-offset-1 col-md-5 nopadding-left-right">
								<div class="form-group ">
									<div class="col-md-3 nopadding-left-right ">
										<label for="" class="controlLabel">ค่าเดินทาง</label>
									</div>
									<div class="col-md-6 nopadding-left-right">
										<input #expense class="form-control" type="text" min="0" 
										[(ngModel)]="travelExpenseDetail.expense" 
										(keyup)="validateNegative($event)"
										(blur)="sumTravelExpenseSubSummary(expense,expWayExpense)" />
									</div>
									<div class="col-md-2 nopadding-left-right">
										<input class="form-control" type="text" value="บาท" readonly style="text-align: right"/>
									</div>
									<!--<label for="" class="col-md-1 nopadding-left-right label-center">บาท</label>-->
								</div>
							</div>

							<div class="col-md-5 nopadding-left-right">
								<div class="form-group ">
									<div class="col-md-offset-1 col-md-3 nopadding-left-right ">
										<label for="" class="controlLabel">ค่าทางด่วน</label>
									</div>
									<div class="col-md-6 nopadding-left-right">
										<input #expWayExpense class="form-control" type="text" min="0" 
										[(ngModel)]="travelExpenseDetail.expWayExpense"
										(keyup)="validateNegative($event)"
										(blur)="sumTravelExpenseSubSummary(expense,expWayExpense)" />
									</div>
									<div class="col-md-2 nopadding-left-right">
										<input class="form-control" type="text" value="บาท" readonly style="text-align: right"/>
									</div>
									<!--<label for="" class="col-md-1 nopadding-left-right label-center">บาท</label>-->
								</div>
							</div>				
						</div>

						<div class="row">
							<div class="col-md-offset-1 col-md-5 nopadding-left-right">
								<div class="form-group ">
									<div class="col-md-3 nopadding-left-right ">
										<label for="" class="controlLabel">ยอดเงินรวม</label>
									</div>
									<div class="col-md-6 nopadding-left-right">
										<input #expenseSubSummary class="form-control" type="text" readonly
										[(ngModel)]="travelExpenseDetail.expenseSubSummary"
										[ngModelOptions]="{standalone: true}" />
									</div>
									<div class="col-md-2 nopadding-left-right ">
										<input class="form-control" type="text" value="บาท" readonly style="text-align: right"/>
									</div>
									<!--<label for="" class="col-md-2 nopadding-left-right label-center">บาท</label>-->
								</div>
							</div>

							<div class="col-md-5 nopadding-left-right">
								<div class="form-group">
									<div class="col-md-offset-1 col-md-3 nopadding-left-right ">
										<label for="" class="controlLabel">หมายเหตุ</label>
									</div>
									<div class="col-md-8 nopadding-left-right">
										<input #comment class="form-control" type="text"
										[(ngModel)]="travelExpenseDetail.comment" [ngModelOptions]="{standalone: true}">
									</div>
									
								</div>
							</div>	
						</div>
						<div class="row">
							<div class="col-md-offset-1 col-md-10 nopadding-left-right">
								<div class="form-group ">
									<div class="col-md-12 nopadding-left-right ">
										<label for="" class="controlLabel">เอกสารแนบ</label>
									</div>
								</div>
								<div class="form-group ">
									<div class="col-md-1 nopadding-left-right ">
										<label for="" class="controlLabel">ใบที่ 1</label>
									</div>
									<div class="col-md-3 nopadding-left-right">
										<input #attachFile1 id="file1" type="file" multiple class="form-control" placeholder="File 1"
										[(ngModel)]="travelExpenseDetail.attachFile1" [ngModelOptions]="{standalone: true}"
										(change)="onChangeFile($event,1)"/>
									</div>
								<!--</div>
							</div>

							<div class="col-md-3 nopadding-left-right">
								<div class="form-group ">-->
									<div class="col-md-1 nopadding-left-right ">
										<label for="" class="controlLabel">ใบที่ 2</label>
									</div>
									<div class="col-md-3 nopadding-left-right">
										<input #attachFile2 id="file2" type="file" multiple class="form-control" placeholder="File 2"
										[(ngModel)]="travelExpenseDetail.attachFile2" [ngModelOptions]="{standalone: true}"
										(change)="onChangeFile($event,2)"/>
									</div>
								<!--</div>
							</div>

							<div class="col-md-3 nopadding-left-right">
								<div class="form-group ">-->
									<div class="col-md-1 nopadding-left-right ">
										<label for="" class="controlLabel">ใบที่ 3</label>
									</div>
									<div class="col-md-3 nopadding-left-right">
										<input #attachFile3 id="file3" type="file" multiple class="form-control" placeholder="File 3"
										[(ngModel)]="travelExpenseDetail.attachFile3" [ngModelOptions]="{standalone: true}"
										(change)="onChangeFile($event,3)" />
									</div>
								</div>
							</div>
						</div>
						<!--<div class="row">
							<div class="col-md-offset-1 col-md-10 nopadding-left-right">
								<div class="form-group">
									<label for="" class="col-md-2 nopadding-left-right controlLabel">เอกสารแนบ</label>
									<div class="col-md-3 nopadding-left-right">
										<input #attachFile1 id="file1"  multiple type="text" class="form-control" placeholder="File 1"
										[(ngModel)]="travelExpenseDetail.attachFile1" [ngModelOptions]="{standalone: true}">
									</div>
									<div class="col-md-3 nopadding-left-right">
										<input #attachFile2 id="file2" multiple  type="file"  placeholder="File 2"
										[(ngModel)]="travelExpenseDetail.attachFile2" [ngModelOptions]="{standalone: true}">
									</div>
									<div class="col-md-3 nopadding-left-right">
										<input #attachFile2 id="file3" multiple  type="file" placeholder="File 3"
										[(ngModel)]="travelExpenseDetail.attachFile3" [ngModelOptions]="{standalone: true}">
									</div>
								</div>
							</div>
						</div>-->
						
					</div>
				</div>
			</div>
			<hr/>
			<div class="modal-footer">
				<div class="row">
					<div class="col-md-offset-8 col-md-3">
						<div class="form-group">
							<button (click)="onClear()" type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
							<button (click)="addTravelExpenseDetail()" data-dismiss="modal" class="btn btn-raised btn-inverse" type="submit" name="submit">เพิ่ม</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





<!--Update TravelExpenseDetail-->
<div class="modal fade modal-lg" id="modalUpdateTravelExpenseDetail">
	<div class="modal-dialog modal-lg">
		
		<div class="modal-content modal-lg">
			<div class="modal-header modal-black">
				<button (click)="onClearUpdate(travelDate,customer,travelFrom,travelTo,expenseUpdate,expWayExpenseUpdate,expenseSubSummaryUpdate,comment)" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">อัพเดทกรณีไปหาลูกค้า</h4>
			</div>
			<div class="modal-body modal-lg">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-offset-1 col-md-5 nopadding-left-right">
								<div class="form-group ">
									<div class="col-md-3 nopadding-left-right ">
										<label for="" class="controlLabel">วันที่</label>
									</div>
									<div class="col-md-8 nopadding-left-right">
										<!--<input type="date" class="form-control" #travelDate [value]="travelExpenseDetail.travelDate" />-->
										<my-date-picker #travelDate [ngModel]="travelExpenseDetailUpdate.travelDate" [options]="myDatePickerOptions" (dateChanged)="onDateChangedUpdate($event)" ></my-date-picker>
										<!--<ng2-datepicker  #travelDate [(ngModel)]="dateUpdate" [ngModelOptions]="{standalone: true}"></ng2-datepicker>-->
										
									</div>
									
								</div>
							</div>

							<div class="col-md-5   nopadding-left-right">
								<div class="form-group ">
									<div class="col-md-offset-1 col-md-3 nopadding-left-right ">
										<label for="" class="controlLabel">ลูกค้า</label>
									</div>
									<div class="col-md-8 nopadding-left-right">
										<select #customer [(ngModel)]="customerIdUpdate" [ngModelOptions]="{standalone: true}"
											class="form-control" (change)="onSelectboxChange($event.target.value)">
											<option *ngFor="let customer of customers" [value]="customer.id">
												{{customer.name}}
											</option>

										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-offset-1 col-md-5 nopadding-left-right">
								<div class="form-group ">
									<div class="col-md-3 nopadding-left-right ">
										<label for="" class="controlLabel">เดินทางจาก</label>
									</div>
									<div class="col-md-8 nopadding-left-right">
										<input #travelFrom class="form-control" type="text" 
										[value]="travelExpenseDetailUpdate.travelFrom">
									</div>
								</div>
							</div>

							<div class="col-md-5 nopadding-left-right">
								<div class="form-group ">
									<div class="col-md-offset-1 col-md-3 nopadding-left-right ">
										<label  class="controlLabel">ถึง</label>
									</div>
									<div class="col-md-8 nopadding-left-right">
										<input #travelTo class="form-control" type="text"
										[value]="travelExpenseDetailUpdate.travelTo">
									</div>
								</div>
							</div>				
						</div>

						<div class="row">
							<div class="col-md-offset-1 col-md-5 nopadding-left-right">
								<div class="form-group ">
									<div class="col-md-3 nopadding-left-right ">
										<label for="" class="controlLabel">ค่าเดินทาง</label>
									</div>
									<div class="col-md-6 nopadding-left-right">
										<input #expenseUpdate class="form-control" type="text" min="0" 
										[value]="travelExpenseDetailUpdate.expense"
										(keyup)="validateNegative($event)"
										(blur)="sumTravelExpenseSubSummaryUpdate(expenseUpdate,expWayExpenseUpdate)" />
									</div>
									<div class="col-md-2 nopadding-left-right">
										<input class="form-control" type="text" value="บาท" readonly style="text-align: right"/>
									</div>
									<!--<label for="" class="col-md-1 nopadding-left-right label-center">บาท</label>-->
								</div>
							</div>

							<div class="col-md-5 nopadding-left-right">
								<div class="form-group ">
									<div class="col-md-offset-1 col-md-3 nopadding-left-right ">
										<label for="" class="controlLabel">ค่าทางด่วน</label>
									</div>
									<div class="col-md-6 nopadding-left-right">
										<input #expWayExpenseUpdate class="form-control" type="text" min="0" 
										[value]="travelExpenseDetailUpdate.expWayExpense"
										(keyup)="validateNegative($event)"
										(blur)="sumTravelExpenseSubSummaryUpdate(expenseUpdate,expWayExpenseUpdate)" />
									</div>
									<div class="col-md-2 nopadding-left-right">
										<input class="form-control" type="text" value="บาท" readonly style="text-align: right"/>
									</div>
									<!--<label for="" class="col-md-1 nopadding-left-right label-center">บาท</label>-->
								</div>
							</div>				
						</div>

						<div class="row">
							<div class="col-md-offset-1 col-md-5 nopadding-left-right">
								<div class="form-group ">
									<div class="col-md-3 nopadding-left-right ">
										<label for="" class="controlLabel">ยอดเงินรวม</label>
									</div>
									<div class="col-md-6 nopadding-left-right">
										<input #expenseSubSummaryUpdate class="form-control" type="text" 
										[value]="travelExpenseDetailUpdate.expenseSubSummary">
									</div>
									<div class="col-md-2 nopadding-left-right">
										<input class="form-control" type="text" value="บาท" readonly style="text-align: right"/>
									</div>
									<!--<label for="" class="col-md-1 nopadding-left-right label-center">บาท</label>-->
								</div>
							</div>

							<div class="col-md-5 nopadding-left-right">
								<div class="form-group ">
									<div class="col-md-offset-1 col-md-3 nopadding-left-right ">
										<label for="" class="controlLabel">หมายเหตุ</label>
									</div>
									<div class="col-md-8 nopadding-left-right">
										<input #comment class="form-control" type="text"
										[value]="travelExpenseDetailUpdate.comment">
									</div>
									
								</div>
							</div>				
						</div>

						<!-- file attach  -->
						<div class="row">
							<div class="col-md-offset-1 col-md-10 nopadding-left-right">
								<div class="form-group ">
									<div class="col-md-12 nopadding-left-right ">
										<label for="" class="controlLabel">เอกสารแนบ</label>
									</div>
								</div>
								<div class="form-group ">
									<div class="col-md-1 nopadding-left-right ">
										<label for="" class="controlLabel">ใบที่ 1</label>
									</div>
									<div class="col-md-3 nopadding-left-right">
										<input #updateAttachFile1 id="file1"  multiple type="file" class="form-control" placeholder="File 1"
										[(ngModel)]="travelExpenseDetail.attachFile1" [ngModelOptions]="{standalone: true}"/>
									</div>
								<!--</div>
							</div>

							<div class="col-md-3 nopadding-left-right">
								<div class="form-group ">-->
									<div class="col-md-1 nopadding-left-right ">
										<label for="" class="controlLabel">ใบที่ 2</label>
									</div>
									<div class="col-md-3 nopadding-left-right">
										<input #updateAttachFile2 id="file2"  multiple type="file" class="form-control" placeholder="File 1"
										[(ngModel)]="travelExpenseDetail.attachFile1" [ngModelOptions]="{standalone: true}"/>
									</div>
								<!--</div>
							</div>

							<div class="col-md-3 nopadding-left-right">
								<div class="form-group ">-->
									<div class="col-md-1 nopadding-left-right ">
										<label for="" class="controlLabel">ใบที่ 3</label>
									</div>
									<div class="col-md-3 nopadding-left-right">
										<input #updateAttachFile3 id="file3"  multiple type="file" class="form-control" placeholder="File 1"
										[(ngModel)]="travelExpenseDetail.attachFile3" [ngModelOptions]="{standalone: true}"/>
									</div>
								</div>
							</div>
						</div>
						<!--/ file attach  -->

					</div>
				</div>
			</div>
			<hr/>
			<div class="modal-footer">
				<div class="row">
					<div class="col-md-offset-8 col-md-3">
						<div class="form-group">
							<button (click)="onClearUpdate(travelDate,customer,travelFrom,travelTo,expenseUpdate,expWayExpenseUpdate,expenseSubSummaryUpdate,comment)" type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
							<button (click)="updateTravelExpenseDetail(travelDate,customer,travelFrom,travelTo,expenseUpdate,expWayExpenseUpdate,expenseSubSummaryUpdate,comment)" data-dismiss="modal" class="btn btn-raised btn-inverse" type="submit" name="submit">เพิ่ม</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
