			<div class="row">
				<div class="col-md-12">
					<fieldset class="col-sm-offset-1 col-sm-9 fieldset">
    					<legend>&nbsp;กรณีไปหาลูกค้า&nbsp;</legend>
    					<div class="row">
							<div class="col-md-offset-1 col-md-5 nopadding-left-right">
								<div class="form-group ">
									<label for="" class="col-md-3 nopadding-left-right controlLabel">วันที่</label>
									<div class="col-md-9 nopadding-left-right">
										<input class="form-control" type="date" name="name" value="คันนายาว">
									</div>
								</div>
							</div>

							<div class="col-md-5   nopadding-left-right">
								<div class="form-group ">
									<label for="" class="col-md-2 nopadding-left-right controlLabel">ลูกค้า</label>
									<div class="col-md-10 nopadding-left-right">
										<select class="form-control">
											<option>UAT</option>
											<option>BBS</option>
											<option>UNT</option>
										</select>
									</div>
								</div>
							</div>		
						</div>

						<div class="row">
							<div class="col-md-offset-1 col-md-5 nopadding-left-right">
								<div class="form-group ">
									<label for="" class="col-md-3 nopadding-left-right controlLabel">เดินทางจาก</label>
									<div class="col-md-9 nopadding-left-right">
										<input class="form-control" type="text" name="name" value="คันนายาว">
									</div>
								</div>
							</div>

							<div class="col-md-5 nopadding-left-right">
								<div class="form-group ">
									<label for="" class="col-md-2 nopadding-left-right controlLabel">ถึง</label>
									<div class="col-md-10 nopadding-left-right">
										<input class="form-control" type="text" name="name" value="คันนายาว">
									</div>
								</div>
							</div>				
						</div>

						<div class="row">
							<div class="col-md-offset-1 col-md-5 nopadding-left-right">
								<div class="form-group ">
									<label for="" class="col-md-3 nopadding-left-right controlLabel">ค่าเดินทาง</label>
									<div class="col-md-7 nopadding-left-right">
										<input class="form-control" type="text" name="name" value="">
									</div>
									<label for="" class="col-md-1 nopadding-left-right label-center">บาท</label>
								</div>
							</div>

							<div class="col-md-5 nopadding-left-right">
								<div class="form-group ">
									<label for="" class="col-md-3 nopadding-left-right controlLabel">ค่าทางด่วน</label>
									<div class="col-md-8 nopadding-left-right">
										<input class="form-control" type="text" name="name" value="">
									</div>
									<label for="" class="col-md-1 nopadding-left-right label-center">บาท</label>
								</div>
							</div>				
						</div>

						<div class="row">
							<div class="col-md-offset-1 col-md-5 nopadding-left-right">
								<div class="form-group ">
									<label for="" class="col-md-3 nopadding-left-right controlLabel">ยอดเงินรวม</label>
									<div class="col-md-7 nopadding-left-right">
										<input class="form-control" type="text" name="name" value="">
									</div>
									<label for="" class="col-md-1 nopadding-left-right label-center">บาท</label>
								</div>
							</div>

							<div class="col-md-5 nopadding-left-right">
								<div class="form-group ">
									<label for="" class="col-md-3 nopadding-left-right controlLabel">หมายเหตุ</label>
									<div class="col-md-9 nopadding-left-right">
										<input class="form-control" type="text" name="name" value="">
									</div>
									
								</div>
							</div>				
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="form-group ">
									<input class="btn btn-raised btn-inverse" type="submit" name="submit" value="เพิ่ม" />
								</div>
							</div>
						</div>
					</fieldset>
					
				</div>
				
			</div>

			<div class="row">
				<div class="col-md-12">
					<fieldset class="col-md-offset-1 col-md-9 fieldset">
						<legend>&nbsp;ตารางสรุปผล&nbsp;</legend>
						<div class="row">
							<div class="col-md-offset-1 col-md-10">
								<table class="table table-hover">
									<thead>
										<th>วันที่</th>
										<th>ลูกค้า</th>
										<th>เดินทางจาก</th>
										<th>เดินทางถึง</th>
										<th>ค่าเดินทาง</th>
										<th>ค่าทางด่วน</th>
										<th>รวมเป็นเงิน</th>
										<th>หมายเหตุ</th>

									</thead>
									<tbody>
										<tr>
											<td>01/01/2558</td>
											<td>UMM</td>
											<td>บ้าน</td>
											<td>บิ๊กซี</td>
											<td>100</td>
											<td>300</td>
											<td>400</td>
											<td>-</td>
										</tr>
									</tbody>
								</table>	
							</div>
							
						</div>
						<div class="row">
							<div class="col-md-12">
								<!--<center>-->
									<input class="btn btn-raised btn-success" type="submit" name="summary" value="บันทึกแบบคำขอใบเบิก"/>
								<!--</center>-->
							</div>
						</div>
					</fieldset>
				</div>
			</div>