<div class="container">
  <div class="row">
    <div class="well">List of TravelExpense Approve</div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped ">
      <thead>
        <th>Expense_Date</th>
        <th>Cash</th>
        <th>ExpenseSummary</th>
        <th>Status</th>
        <th>Approve_Date</th>
        <th>Approve_By</th>
        <th>Pay_Date</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let travelExpense of travelExpenses">
          <!--<td><button class="btn btnEdit btn-raised btn-danger"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></button>
                <button class="btn btnEdit btn-raised btn-info"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></button>
            </td>-->
          <td>{{travelExpense.expenseDate  | date:'dd/MM/yyyy'}}</td>
          <td>{{travelExpense.cash}}</td>
          <td>{{travelExpense.expenseSummary}}</td>
          <td>{{travelExpense.documentStatus}}</td>
          <td>{{travelExpense.approvelDate  | date:'dd/MM/yyyy'}}</td>
          <td>0</td>
          <td>{{travelExpense.payDate  | date:'dd/MM/yyyy'}}</td>
          <td><button (click)="exportToPdf(travelExpense)" class="btn btn-raised btnEdit btn-warning">
            <i  title="Export to PDF Files" class="fa fa-file-pdf-o fa-3x" aria-hidden="true"></i></button></td>
        </tr>
      </tbody>
    </table>
    </div>
    
  </div>
</div>