<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-offset-3 col-md-6">

      <div class="panel panel-black">
        <div class="panel-heading">
          <h3 class="panel-title">Please Login...</h3>
        </div>
        <div class="panel-body">
          <form>
            <div class="form-group has-warning">
              <input #username type="text" placeholder="username" class="form-control"/>
            </div>
            <div class="form-group has-warning">
              <input #password type="password" placeholder="password"  class="form-control"/>
            </div>
            <div class="col-sm-12">
              <button style="width: 100%;" class="btn btn-warning" (click)="login(username,password)" type="submit" >login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

