.form-control{
    box-shadow: none;
}



table,td,th{
    text-align: center;
    /*font-size: 40px;*/
    
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th
.table>tbody>td>th{
    
    vertical-align:middle;
    
}

.btnEdit{
    padding: 5px 10px;
    border-radius: 5px;
}
     
th{
    font-weight: 900;
    color: #ffffff;
    background: #009688;
    padding-top:6px;
    padding-bottom: 6px;
}

tr:nth-of-type(odd){
    
    
  }
 

.table-black{
    border-radius: 0px;
    box-shadow: 3px 2px 10px 1px rgba(0,0,0,0.2);
}

.table-black thead{
    background-color: rgb(50,50,50);
    border-bottom: 2px solid rgb(255,100,0);
}

.table-black thead th{
    background: none;
    font-size: 14px;
    border-right: 1px solid rgb(70,70,70);
}

.table-black tbody td{
    border-right: 1px solid rgb(250,230,230);
}
    

 



    
  