<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb" style="margin-bottom: 0px;">
        <li><a href="javascript:void(0)">Master</a></li>
        <li class="active">Customers</li>
        <button  (click)="setIntitialOfActive()" data-toggle="modal" 
          data-backdrop="static" data-keyboard="false" 
          data-target="#modalAdd"  class="btn btn-danger btn-fab"
          style="position: absolute; top: -8px; right: 30px;"><i class="fa fa-plus" aria-hidden="true"></i></button>
      </ul>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr style="margin-right: 0px;"/>
    </div>
  </div>

  <!--<div class="row">
    <button (click)="setIntitialOfActive()" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modalAdd" class="btn btn-raised btn-default"><i class="fa fa-plus" aria-hidden="true"></i></button>
  </div>-->

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-black">
        <thead>
          <th>Action</th>
          <th>Code</th>
          <th>Name</th>
          <th>Active</th>
          <th>Address</th>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers">
            <td><button (click)="deleteCustomer(customer)" class="btn btnEdit btn-raised btn-danger"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></button>
                <button class="btn btnEdit btn-raised btn-info" data-backdrop="static" data-keyboard="false" 
                              data-target="#modalUpdate" data-toggle="modal"
                              (click)="detailModalUpdate(customer)"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></button>
            </td>
            <td>{{customer.code}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.active}}</td>
            <td>{{customer.address}}</td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--Modal AddCustomer-->
<div class="modal fade" id="modalAdd">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="onClear()" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Add Customer</h4>
      </div>
      <div class="modal-body">
        <form class="form-horzontal" (ngSubmit)="onSubmit()" #addCom="ngForm">
          <div class="row">    
            <div class="form-group">
                <label class="col-md-offset-2 col-md-2 control-label">Code: </label>
                <div class="col-md-5">
                    <input  required class="form-control" type="text" 
                    [(ngModel)]="customer.code" #code="ngModel" [ngModelOptions]="{standalone: true}" />
                </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
                <label class="col-md-offset-2 col-md-2 control-label">Name: </label>
                <div class="col-md-5">
                    <input #name class="form-control" type="text"
                    [(ngModel)]="customer.name" [ngModelOptions]="{standalone: true}" />
                </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
                <label class="col-md-offset-2 col-md-2 control-label">Active: </label>
                <div class="togglebutton col-md-5">
                  <label>
                    <input  #active type="checkbox" (change)="onCheckBox($event)" 
                    [(ngModel)]="customer.active" [ngModelOptions]="{standalone: true}" />
                  </label>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="textArea" class="col-md-offset-2 col-md-2 control-label">Address: </label>
              <div class="col-md-6">
                <textarea class="form-control" #address  rows="3" id="textArea"
                [(ngModel)]="customer.address" [ngModelOptions]="{standalone: true}"></textarea>               
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="onClear()" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="addCustomer()">Save changes</button>
      </div>
    </div>
  </div>
</div>





<!--Modal UpdateCustomer-->
<div class="modal fade" id="modalUpdate">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" (click)="onClearUpdate(code,name,active,address)"  class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Update Customer</h4>
      </div>
      <div class="modal-body">
        <form class="form-horzontal" (ngSubmit)="onSubmit()" #addCom="ngForm">
          <div class="row">    
            <div class="form-group">
                <label class="col-md-offset-2 col-md-2 control-label">Code: </label>
                <div class="col-md-5">
                    <input #code required class="form-control" type="text" 
                    [value]="customerUpdate.code"/>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
                <label class="col-md-offset-2 col-md-2 control-label">Name: </label>
                <div class="col-md-5">
                    <input #name class="form-control" type="text"
                    [value]="customerUpdate.name"/>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
                <label  class="col-md-offset-2 col-md-2 control-label">Active: </label>
                <div class="togglebutton col-md-5">
                  <label>
                    <input id="activeinput" #active type="checkbox" (change)="onCheckBoxUpdate($event)"
                    [value]="customerUpdate.active"/>
                  </label>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="textArea" class="col-md-offset-2 col-md-2 control-label">Address: </label>
              <div class="col-md-6">
                <textarea class="form-control" #address  rows="3" id="textArea" [value]="customerUpdate.address"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-default" data-dismiss="modal" (click)="onClearUpdate(code,name,active,address)" >Close</button>
        <button  type="submit" class="btn btn-primary" data-dismiss="modal" (click)="updateCustomer(code,name,active,address)">Save changes</button>
      </div>
    </div>
  </div>
</div>
