<div class="container">
		<div class="form-horizontal">
		<div class="row">
					<fieldset class="col-sm-offset-1 col-sm-9 fieldset">
    					<legend>&nbsp;ข้อมูลใบเบิก&nbsp;</legend>
					<div class="row">
						<div class="col-md-offset-1 col-md-5 nopadding-left-right">
							<div class="form-group ">
								<label for="" class="col-md-3  nopadding-left-right controlLabel">ข้าพเจ้า</label>
								<div class="col-md-9 nopadding-left-right">
									<input class="form-control" type="text" name="name" value="นายกำพล ประพันธ์สันติ">
								</div>
							</div>
						</div>

						<div class="col-md-5 nopadding-left-right">
							<div class="form-group  ">
								<label for="" class="col-md-3 nopadding-left-right controlLabel">ฝ่าย / แผนก</label>
								<div class="col-md-9 nopadding-left-right">
									<input class="form-control" type="text" name="name" value="ซอฟต์พลัส เทคโนโลยี">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-offset-1 col-md-4 nopadding-left-right">
							<div class="form-group  ">
								<label for="" class="col-md-5 nopadding-left-right controlLabel">บัตรประชาชนเลขที่</label>
								<div class="col-md-7 nopadding-left-right">
									<input class="form-control" type="text" name="name" value="1-1017-00002-45-4">
								</div>
							</div>
						</div>

						<div class="col-md-3 nopadding-left-right">
							<div class="form-group  ">
								<label for="" class="col-md-6 nopadding-left-right label-center">เอกสารแนบ</label>
								<div class="col-md-4 nopadding-left-right">
									<input class="form-control" type="text" name="name" value="">
								</div>
								<label for="" class="col-md-2 nopadding-left-right controlLabel">ใบ</label>
							</div>
						</div>
					
						<div class="col-md-3 nopadding-left-right">
							<div class="form-group ">
								<label for="" class="col-md-4 nopadding-left-right controlLabel">โทร</label>
								<div class="col-md-8 nopadding-left-right">
									<input class="form-control" type="text" name="name" value="081-808-8525">
								</div>
								<!-- <label for="" class="col-md-2 controlLabel">รายละเอียดดังนี้</label> -->
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-offset-1 col-md-6 nopadding-left-right">
							<div class="form-group ">
								<label for="" class="col-md-2 nopadding-left-right controlLabel">ที่อยู่</label>
								<div class="col-md-10 nopadding-left-right">
									<textarea class="form-control border" type="text" row="3">617/33 ซอยอะไร ถนนอยู่ไหน จังหวัดอุบลราชธานี</textarea> 
								</div>
							</div>
						</div>

						<div class="col-md-4 nopadding-left-right">
							<div class="form-group ">
								<label for="" class="col-md-3 nopadding-left-right controlLabel">เพื่อชำระค่า</label>
								<div class="col-md-9 nopadding-left-right">
									<input class="form-control" type="text" name="name" value="เดินทาง">
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-offset-1 col-md-10 nopadding-left-right">
							<div class="form-group  ">
								<label for="" class="col-md-2 nopadding-left-right controlLabel">รายละเอียดดังนี้</label>
								<div class="col-md-10 nopadding-left-right">
									<textarea class="form-control border" type="text" row="3">ซื้อขนม</textarea> 
								</div>
							</div>
						</div>

            <button routerLink='/listSentApprove' routerLinkActive='active'
            class="btn btn-outline btn-primary" style="background-color: transparent; color:green; border: 1px solid green;">สร้างใบเบิก</button>

					</div>
			</fieldset>

      


		</div>
	</div>
