<div class="container">
		<div class="form-horizontal">
		<div class="row">
					<fieldset class="col-sm-offset-1 col-sm-9 fieldset">
    					<legend>&nbsp;ข้อมูลใบเบิก&nbsp;</legend>
					<div class="row">
						<div class="col-md-offset-1 col-md-3 nopadding-left-right">
							<div class="form-group ">
								<label for="" class="col-md-3  nopadding-left-right controlLabel">ข้าพเจ้า</label>
								<div class="col-md-9 nopadding-left-right">
									<input class="form-control" type="text" readonly  [value]="appUser.empName+' '+ appUser.empLastName">
								</div>
							</div>
						</div>

						<div class="col-md-3 nopadding-left-right">
							<div class="form-group  ">
								<label for="" class="col-md-3 nopadding-left-right controlLabel">บริษัท</label>
								<div class="col-md-9 nopadding-left-right">
									<input class="form-control" readonly type="text" [value]="company.name">
								</div>
							</div>
						</div>

						<div class="col-md-4 nopadding-left-right">
							<div class="form-group  ">
								<label for="" class="col-md-4 nopadding-left-right controlLabel">ฝ่าย/แผนก</label>
								<div class="col-md-8 nopadding-left-right">
									<input class="form-control" readonly type="text" [value]="department.name">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-offset-1 col-md-4 nopadding-left-right">
							<div class="form-group  ">
								<label for="" class="col-md-5 nopadding-left-right controlLabel">บัตรประชาชนเลขที่</label>
								<div class="col-md-7 nopadding-left-right">
									<input class="form-control" readonly type="text" [value]="appUser.personalId">
								</div>
							</div>
						</div>

						<div class="col-md-3 nopadding-left-right">
							<div class="form-group ">
								<label for="" class="col-md-2 nopadding-left-right controlLabel">โทร</label>
								<div class="col-md-10 nopadding-left-right">
									<input class="form-control" readonly type="text"  [value]="appUser.tel">
								</div>
								<!-- <label for="" class="col-md-2 controlLabel">รายละเอียดดังนี้</label> -->
							</div>
						</div>

						<div class="col-md-3 nopadding-left-right">
							<div class="form-group">
								<label  class="col-md-3 nopadding-left-right label-center">อีเมลล์</label>
								<div class="col-md-9 nopadding-left-right">
									<input class="form-control" readonly type="text"  [value]="appUser.email">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-offset-1 col-md-10 nopadding-left-right">
							<div class="form-group ">
								<label for="" class="col-md-2 nopadding-left-right controlLabel">ที่อยู่</label>
								<div class="col-md-10 nopadding-left-right">
									<textarea class="form-control border" readonly type="text" row="3">{{appUser.empAddress}}</textarea> 
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-offset-1 col-md-10 nopadding-left-right">
							<div class="form-group ">
								<label for="" class="col-md-2 nopadding-left-right controlLabel">เพื่อชำระค่า</label>
								<div class="col-md-10 nopadding-left-right">
									<textarea class="form-control border" type="text" row="3" [(ngModel)]="travelExpense.comment"></textarea> 
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-offset-1 col-md-10 nopadding-left-right">
							<div class="form-group  ">
								<label for="" class="col-md-2 nopadding-left-right controlLabel">รายละเอียดดังนี้</label>
								<div class="col-md-10 nopadding-left-right">
									<button (click)="getCustomers()" data-toggle="modal" data-target="#modalAddTravelExpenseDetail" data-backdrop="static" data-keyboard="false"
								class="btn btnCircle btn-raised btn-warning"><i class="fa fa-plus" aria-hidden="true"></i></button>
								</div>
							</div>
						</div>					
					</div>
					<div class="row">
						<div class="col-md-offset-8 col-md-3 nopadding-left-right">
							<div class="form-group" style="float: right;">
								<button (click)="addTravelExpense()" class="btn  btn-raised btn-primary">สร้างใบเบิก</button>
							</div>
							
						</div>
					</div>
			</fieldset>
		</div>
		<div *ngIf="isResultTable" class="row">
			<app-travel-expense-detail [customers]="customers" [travelExpenseId]="travelExpense.id"></app-travel-expense-detail>
		</div>
	</div>
