<div class="container">
  <div class="row">
    <button (click)="setIntitialOfActive()" (click)="getCompanies()" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalAdd" class="btn btn-raised btn-default"><i class="fa fa-plus" aria-hidden="true"></i></button>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <th>Action</th>
          <th>Code</th>
          <th>Name</th>
          <th>Active</th>
          <th>Company<th>
        </thead>
        <tbody>
          <tr *ngFor="let department of departments">
            <td><button (click)="deleteDepartment(department)" class="btn btnEdit btn-raised btn-danger"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></button>
                <button class="btn btnEdit btn-raised btn-info" 
                              data-target="#modalUpdate" data-toggle="modal" data-backdrop="static" data-keyboard="false"
                              (click)="getCompanies()" (click)="detailModalUpdate(department)"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></button>
            </td>
            <td>{{department.code}}</td>
            <td>{{department.name}}</td>
            <td>{{department.active}}</td>
            <td>{{department.company.name}}</td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--Modal AddDepartmrnt-->
<div class="modal fade" id="modalAdd">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="onClear()" data-dismiss="modal"  aria-hidden="true">×</button>
        <h4 class="modal-title">Add Department</h4>
      </div>
      <div class="modal-body">
        <form class="form-horzontal" (ngSubmit)="onSubmit()" #addCom="ngForm">
          <div class="row">    
            <div class="form-group">
                <label class="col-md-offset-2 col-md-2 control-label">Code: </label>
                <div class="col-md-5">
                    <input  required class="form-control" type="text" 
                    [(ngModel)]="department.code" #code="ngModel" [ngModelOptions]="{standalone: true}" />
                     <!--<div [hidden]="name.valid">
                         Name is required
                    </div>-->
                </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
                <label class="col-md-offset-2 col-md-2 control-label" >Name: </label>
                <div class="col-md-5">
                    <input #name class="form-control" type="text"
                    [(ngModel)]="department.name" [ngModelOptions]="{standalone: true}" />
                </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
                <label class="col-md-offset-2 col-md-2 control-label">Active: </label>
                <div class="togglebutton col-md-5">
                  <label>
                    <input  #active type="checkbox" (change)="onCheckBox($event)" 
                    [(ngModel)]="department.active" [ngModelOptions]="{standalone: true}" />
                  </label>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="selectCompany" class="col-md-offset-2 col-md-2 control-label">Company: </label>
               <div class="col-md-5">
                  <select id="selectCompany" [(ngModel)]="companyId" class="form-control"
                  [ngModelOptions]="{standalone: true}">
                    <option   disabled>Choose one</option>
                    <option  *ngFor="let company of companies" [value]="company.id">
                      {{company.name}}
                    </option>
                  </select>
                </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="onClear()" class="btn btn-default" data-dismiss="modal">Close</button>
        
        <button type="submit" (click)="addDepartment()" class="btn btn-primary" data-dismiss="modal" >Save changes</button>
      </div>
      <!--[disabled]="!addCom.form.valid" -->
    </div>
  </div>
</div>





<!--Modal UpdateDepartment-->
<div class="modal fade" id="modalUpdate">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!--(click)="onClearUpdate(code,name,active)"   IN Button--> 
        <button type="button" (click)="onClearUpdate(code,name,active,selectBox)" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Update Department</h4>
      </div>
      <div class="modal-body">
        <form class="form-horzontal" (ngSubmit)="onSubmit()" #addCom="ngForm">
          <div class="row">    
            <div class="form-group">
                <label class="col-md-offset-2 col-md-2 control-label">Code: </label>
                <div class="col-md-5">
                    <input id="codeinput" #code required class="form-control" type="text" 
                    [value]="departmentUpdate.code"/>
                     <!--<div [hidden]="name.valid">
                         Name is required
                    </div>-->
                </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
                <label class="col-md-offset-2 col-md-2 control-label">Name: </label>
                <div class="col-md-5">
                    <input id="nameinput" #name class="form-control" type="text"
                    [value]="departmentUpdate.name"/>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
                <label  class="col-md-offset-2 col-md-2 control-label">Active: </label>
                <div class=" col-md-5">
                  <label>
                    <input id="activeinput" #active type="checkbox" (change)="onCheckBoxUpdate($event)"
                    [value]="departmentUpdate.active"/>
                  </label>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
                <label class="col-md-offset-2 col-md-2 control-label">Test: </label>
                <div class="col-md-5">
                   <button class="btn btn-danger">{{departmentUpdate.name}}</button>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="selectCompany" class="col-md-offset-2 col-md-2 control-label">Company: </label>
               <div class="col-md-5">
                  <select id="selectCompany"  #selectBox  class="form-control" [(ngModel)]="companyIdUpdate" (change)="onSelectboxChange($event.target.value)"
                  required [ngModelOptions]="{standalone: true}" >
                    <option disabled ></option>
                    <option *ngFor="let company of companies" [value]="company.id">
                      {{company.name}}
                    </option>
                    
                  </select>
                </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!--<button  type="button" class="btn btn-default" data-dismiss="modal" (click)="onClearUpdate(code,name,active0)" >Close</button>-->
        <!--<button *ngIf="checkCompanyUpdate == true" type="button" class="btn btn-default" data-dismiss="modal" (click)="onClearUpdate(code,name,active1)" >Close</button>-->
        <button  type="button" class="btn btn-default" data-dismiss="modal" (click)="onClearUpdate(code,name,active,selectBox)">Close</button>

        <button  type="submit" class="btn btn-primary" data-dismiss="modal" (click)="updateDepartment(code,name,active,companyIdUpdate)"  >Save changes</button> 
        <!--<button *ngIf="checkCompanyUpdate == false" type="submit" class="btn btn-primary" data-dismiss="modal" (click)="updateCompany(code,name,active0)">Save changes</button>-->
      </div>
      <!--[disabled]="!addCom.form.valid" -->
    </div>
  </div>
</div>
